html
  head
    title Register

body
  include ../partials/header

  h3 Enter Username and Password to Register

  form(action = "/register" method = "post")
    p Username:
      input(type = "text" name = "username" required)
    p Password:
      input(type = "text" name = "password" required)
    input(type = "submit" value = "Register")

  if invalid
    p Username already exists.

  include ../partials/footer
